<%= stylesheet_link_tag "form" %>

<section class="form-post">
  <%= form_with model: @post do |form| %>
    <%= form.text_field :Title %>
    <%= form.text_area :Text%>
    <%= form.submit "Add Post" %>
  <% end %>
</section>